# Tuple

In [ ]:
tup1 = ('1', 'One', "Two", 6)
tup2 = ("3", )
tup3 = 'one', 'two', 'three'
tup4 = ()
tup5 = 4, 1, 3, 2, 5

# Tuple constructor
s = "28tech"
tup6 = tuple(s)
tup7 = tuple([1, 2, 3])

# Iterable
tuple_iterable = ("28tech", "python", "java", "C++")
for i in range(len(tuple_iterable)):
  print(tuple_iterable[i], end = ' ')
print()

# Tuple cannot be modified but list element in tuple can be
tup8 = ("28tech", [1, 2, 3], "java", "C++")
tup8[1][0] = 100
print(tup8)

# Catenation vs lap lai tuple
cate = tup1 + tup2
lap = tup3 * 3
print(cate, lap, sep = '\n')

# functions
list(tup5).sort() # tuple(sorted(tup5))
find_element = tup5.index(1)
print(tup5.count(find_element))

28tech python java C++
('28tech', [100, 2, 3], 'java', 'C++')
('1', 'One', 'Two', 6, '3')
('one', 'two', 'three', 'one', 'two', 'three', 'one', 'two', 'three')
1

# Set

In [ ]:
se = {1, 2, 3, 1, 2, "abcd"} # Cannot store element type list because it is mutable
print(se)

# set constructor
ls1 = [1, 2, 3, "java", "php"]
se1 = set(ls1)
print(se1)

# add element
se.add('ty') # one element
print(se)

se.update([100, 'string1']) # more element
print(se)

# remove element
se.remove('ty') # error when remove element that not in set
se.discard('hello') # opposite remove
print(se)
se.pop()
se.clear()
print(se)

# set operations
res1 = se1 | se # se.union(se1)
res2 = se1 & se # intersection
res3 = se1 - se # se1.difference(se)
res4 = se1 ^ se # symmetric difference
print(res1, res2, res3, res4, sep = '\n')

res5 = se1.isdisjoint(se)
res6 = se1.issubset(se)
res7 = se1.issuperset(se)
print(res5, res6, res7, sep='\n')

{1, 2, 3, 'abcd'}
{1, 2, 3, 'java', 'php'}
{1, 2, 3, 'ty', 'abcd'}
{1, 2, 3, 100, 'ty', 'string1', 'abcd'}
{1, 2, 3, 100, 'string1', 'abcd'}
set()
{1, 2, 3, 'php', 'java'}
set()
{1, 2, 3, 'php', 'java'}
{1, 2, 3, 'java', 'php'}
True
False
True